.button {
    padding: 0.75rem 1.25rem;
    border-radius: 9999px;
    border-width: 1px;
    border-color: transparent;
    width: fit-content;
    font-weight: 700;
    color: #000000;
    background-color: #10B981;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    position: relative;
    display: inline-block;
}


.button:hover {
    opacity: 0.75;
}