/* Global styles */

.header {
  display: flex;
  position: fixed;
  top:0;
  left: 0;
  height: 100px;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
  color: #fff;
  background: #060621;

  z-index: 1;
}

.modified-container-fluid{
  background: transparent !important;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.auth-buttons {
  display: flex;
}

.auth-buttons .sign-in,
.auth-buttons .sign-up {
  background: none;
  border: 1px solid #fff;
  color: #fff;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 10px;
}

.auth-buttons .sign-out {
  background: none;
  border: 1px solid #fff;
  color: #fff;
  padding: 10px 20px;
  margin-left: 10px;
  margin-right: 20px;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 10px;
}

.auth-buttons .sign-up {
  background-color: #007BFF;
  border: none;
}

.auth-buttons .sign-in:hover,
.auth-buttons .sign-up:hover {
  border: 1px solid #007BFF;
}

.auth-buttons .sign-out:hover {
  border: 1px solid #007BFF;
}

.FAContainer {
  box-sizing: border-box;
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: row;
  margin-right: 0.5vw;
  border-radius: 9999px;
}

.FA {
  background: #fff;
  border-radius: 9999px;
  top: 0.25vw;
}

.userImage {


}

.hero-section {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  background: rgb(1, 0, 18);
  background: linear-gradient(175deg, rgba(1, 0, 18, 1) 0%, rgba(0, 19, 95, 1) 50%, rgba(120, 82, 123, 1) 100%);
  color: #fff;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  align-items: center;
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero-content h1 span {
  color: #007BFF;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 30px;
}

.hero-buttons {
  display: flex;
}

.hero-buttons .get-started,
.hero-buttons .explore-docs {
  padding: 15px 30px;
  margin-right: 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 10px;
}

.hero-buttons .get-started {
  background-color: #007BFF;
  color: #fff;
}

.hero-buttons .explore-docs {
  background-color: transparent;
  border: 1px solid #007BFF;
  color: #007BFF;
}

/* Responsive Design */

@media (max-width: 992px) {
  .hero-section {
    flex-direction: column;
    text-align: center;
  }

  .hero-content {
    margin-top: 200px;
    max-width: 100%;
  }

  .hero-content h1 {
    font-size: 36px;
  }

  .hero-content p {
    font-size: 16px;
  }

  .hero-buttons {
    flex-direction: column;
  }

  .hero-buttons .get-started,
  .hero-buttons .explore-docs {
    margin-right: 0;
    
  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }

  .auth-buttons {
    margin-top: 15px;
  }
  .hero-section {
    padding: 20px;
    height: 100vh;
  }

  .hero-content {
    margin-top: 200px;
    font-size: 10px;
  }
  .auth-buttons .sign-in,
  .auth-buttons .sign-up {
    font-size: 12px;
    padding: 10px;
    font-weight: bold;
  }
  .auth-buttons .sign-up {

    margin-left: 5px;
  }
}

@media (max-width: 576px) {
  .header {
    display: flex;
    justify-content: space-between;
    background-color: #00000C;
    color: #fff;
  }

  .auth-buttons .sign-in,
  .auth-buttons .sign-up {
    font-size: 12px;
    padding: 10px;
  }
  .auth-buttons .sign-up {
    font-size: 12px;
    padding: 10px;
    margin-left: 5px;
  }
  .logo {
    font-size: 15px;
  }

  .hero-section {
    padding: 20px;
    height: 100vh;
  }

  .hero-content {
    margin-top: 200px;
    font-size: 10px;
  }

  .hero-content p {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .hero-buttons .get-started,
  .hero-buttons .explore-docs {
    padding: 12px 24px;
    font-size: 14px;
  }
}
