.main {
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 6rem 5rem;
    margin-bottom: 0;
}


@media (max-width: 1280px) {
    .main {
        height: auto;
    }
}

@media (max-width: 600px) {
    .main {
        margin: 1rem 0rem;
    }
}

@media (max-width: 1200px) and (min-width: 600px) {
    .main {
        margin: 1rem 3rem;
    }
}

@media (max-width: 1200px) and (min-width: 992px) {
    .main {
        margin: 3rem 3rem;
    }
}

@media (max-width: 2800px) and (min-width: 1200px) {
    .main {
        margin: 1rem 3rem;
    }
}

.chats {
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    width: 100%;
    max-width: 70rem;
    height: calc(100vh - 20rem);
}

.topics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topic {
    flex: 0 0 calc(33.333% - 8rem);
    margin-top: 0.5rem;
}

.FA {
    background: #fff;
    border-radius: 9999px;
    top: 0.25vw;
}

.chat {
    margin: 1rem;
    padding: 1.5rem 1.5rem 1rem 1.5rem;
    font-size: 1.5rem;
    display: flex;
    align-items: start;
    text-align: justify;
}

.bot {
    background: rgba(213, 213, 224, 0.459);
    max-width: 70rem;
    border-radius: 0.5rem;
    justify-content: space-between;
}

.user {
    padding: 0;
}

.chat_img {
    height: 45px;
    width: 45px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8d8383;
    color: white;
  }

.copyIcon {
    cursor: pointer;
    margin-top: 0.5rem;
}